<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>feedback form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="images/registration-form-6.jpg" alt="">
            </div>
            <form method="POST" action="/feedback/admin/login">
                <h3>admin Login Form</h3>
                <div class="form-row">
                    <input type="text" class="form-control" name="adminId" placeholder="Admin Id">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button>Login Now
						<i class="zmdi zmdi-long-arrow-right"></i>
					</button>
            </form>



        </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/main.js"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>